include /_conf

doctype html
html
  head
    meta(charset='UTF-8')
    title Adjust Height jQuery Plugin
    meta(name="description", content="jQuery plugin")
    link(rel="stylesheet", href='#{css}style.css')

  body
    header.pageHeader#pageHeader
      h1 jQuery.Bangs.js
      p 要素の高さを揃えるライブラリ
      p
        a.btn01(href="https://github.com/muyuu/jquery.bangs.js",target="_blank")
          i.fa.fa-github
          | download jQuery.bangs.js


    section.pageContent
      ul.bangs.lists.row
        li.bangs__item.list.col3
          img(src='#{img}li01.jpg')
        li.bangs__item.list.col3
          img(src='#{img}li02.jpg')
        li.bangs__item.list.col3
          img(src='#{img}li03.jpg')
        li.bangs__item.list.col3
          img(src='#{img}li04.jpg')

      ul.bangs.lists.row
        li.bangs__item.list.col3
          img(src='#{img}li01.jpg', height="20")
        li.bangs__item.list.col3
          img(src='#{img}li02.jpg', height="20")
        li.bangs__item.list.col3
          img(src='#{img}li03.jpg', height="20")
        li.bangs__item.list.col3
          img(src='#{img}li04.jpg', height="40")


    footer.pageFooter#pageFooter
      .container
        .copyright
          p Copyright(c)2014 muyuu, Inc. All rights reserved.


    script(src="#{lib}js/jquery.min.js")
    script(src="#{js}jquery.bangs.js")
    script.
      $(function(){
        $('.bangs').bangs();
      });



